/* @theme sunrise_glow */
@import 'default';

section{
  display: flex;
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  flex-direction: column;
  font-size: 20pt;

  h2 {
    color: rgb(16, 76, 100);
  }
  h3 {
    color: rgb(10, 50, 70);
  }
}

section.title{
  background-color: #ffffff;
  color: #0b132b;
  text-align: center;
  font-size: 26pt;
  padding-top: 50pt;
  padding-bottom: 50pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
